:root {
  --nav-toggle-width: 3rem;
  --nav-width: 16rem;
}


#main {
  @include background(color(neutral, 1), color(black));
  padding-left: var(--nav-toggle-width);
  .subtitle { margin: 0 0 1.5rem; }
  .title { margin: 0 0 1rem; }
}


#nav {
  @include background(color(neutral, 2), color(black));
  @include position(fixed, 0, auto, auto, #{calc(-1*var(--nav-width))});
  @include size(var(--nav-width), 100vh);
  transition: left .5s;
  z-index: 1;
  &.active { left: 0; }

  .content {
    @include flex(column, 1.5rem);
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header {
    @include flex(column, 1rem);
    align-items: center;
  }

  .logo {
    @include size(12rem, auto);
  }
}

#nav a:not(.header):not(.toggle) {
  display: block;
  font-size: font(small, size);
  font-weight: font(small, weight);
  margin: 0 -2rem .125rem;
  padding: .375rem 2rem;
}

#nav a:not(.header):not(.toggle):not(.active):hover {
  @include background(color(neutral, 4), color(black));
}

#nav a.active:not(.header):not(.toggle) {
  background: color(neutral, 3);
  border-left: .25rem solid color(primary);
  font-weight: font(strong, weight);
  padding-left: 1.75rem;
}

#nav {
  .toggle {
    @include background(color(neutral, 3), color(black));
    @include flex;
    @include position(absolute, 0, #{calc(-1*var(--nav-toggle-width))});
    @include size(var(--nav-toggle-width), 100vh);
    align-items: center;
    cursor: pointer;
    justify-content: center;
    &:hover { @include background(color(neutral, 4), color(black)); }
  }

  .toggle i { transition: transform .5s; }
  &.active .toggle i { transform: rotate(180deg); }
}


@media (min-width: 50rem) {
  #main {
    padding-left: var(--nav-width);
  }

  
  #nav {
    &, &.active {
      left: 0;
      .toggle { display: none; }
    }
  }
}
