footer {
  @include background(color(primary), color(white));

  .content {
    @include flex(column, 3rem);
    padding-bottom: 3rem;
    padding-top: 3rem;
    text-align: center;
  }

  .input-row {
    margin: 0 auto;
    max-width: 40rem;
  }

  .logo {
    @include size(auto, 1.5rem);
  }

  .nav {
    @include flex(row, 1.5rem);
    font-size: 1.25rem;
    justify-content: center;
  }

  .section {
    @include flex(column, 1rem);
    text-align: center;
    &.social { gap: 1.5rem; }
  }
}
