header {
  @include background(color(white), color(primary));
  box-shadow: 0 0 1rem 0 rgba(color(black), 0.15);
}

header .content {
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

header .logo {
  @include size(auto, 2rem);
}

header .nav {
  display: none;
  gap: 1.5rem;
  text-transform: uppercase;
}

header .nav-toggle {
  font-size: 2rem;
}


@media (min-width: 50rem) {
  header .nav {
    display: flex;
  }

  header .nav-toggle {
    display: none;
  }
}
