header {
  @include background(color(white), color(primary));
  box-shadow: 0 0 1rem 0 rgba(color(black), 0.15);

  .content {
    @include flex(row, 2rem);
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    @include size(auto, 2rem);
  }

  .nav {
    @include flex(column, 1.5rem);
    @include position(fixed, 0, 0);
    display: none;
    text-transform: uppercase;
  }

  .nav-toggle {
    font-size: 2rem;
  }
}



@media (min-width: 60rem) {
  header {
    .nav {
      @include flex(row, 1.5rem);
      @include position(relative);
    }

    .nav-toggle {
      display: none;
    }
  }
}
