/*
  icon preview list
*/

ul.icons-preview {
  @include flex(row, 1rem);
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

ul.icons-preview li {
  display: inline-flex;
  flex-direction: column;
  gap: .5rem;

  small {
    max-width: 6rem;
    text-overflow: ellipsis;
  }
}


/*
  icon preview item
*/

.icon-preview {
  @include background(color(neutral, 2), color(black));
  @include size(6rem);
  align-items: center;
  border-radius: .5rem;
  display: inline-flex;
  justify-content: center;
}

.icon-preview i {
  font-size: 2rem;
}
