:root {
  --content-padding: 2rem;
}

@media (min-width: 50rem) {
  :root {
    --content-padding: 3rem;
  }
}


.content {
  @include flex(column);
  align-items: stretch;
  margin: 0;
  max-width: 75rem;
  padding: var(--content-padding);
  width: 100%;
}
