/*
  color helper functions
*/

@function contrast($color) {
  @if (lightness($color) > 40) {
    @return color(white);
  }
  @return color(black);
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


/*
  initial colors
*/

$color-indigo: #110343;
$color-teal: #008079;
$color-slate: #63637e;


/*
  color by name
*/

$colors: (
  primary: $color-indigo,
  black: shade($color-slate, 40%),
  white: tint($color-slate, 99%),

  accent: (
    1: tint($color-teal, 40%),
    2: $color-teal,
  ),

  neutral: (
    1: tint($color-slate, 91%),
    2: tint($color-slate, 85%),
    3: tint($color-slate, 78%),
    4: tint($color-slate, 70%),
    5: $color-slate,
  ),
);


/*
  color accessor function
*/

@function color($keys...) {
  $value: $colors;

  @if length($keys) == 1 {
    @if nth($keys, 1) == accent { @return color(accent, 2); }
    @if nth($keys, 1) == neutral { @return color(neutral, 5); }
  }

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}


/*
  color by element property
*/

$colors: map-merge($colors, (
  border: color(neutral, 3),
));
